html, body
  background-color #fff
  margin 0
  padding 0
  text-rendering optimizelegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  word-spacing 1px
  font-family $fontFamily
  font-size $fontSize
  color $textColor
    