/* libs */
// Markdown code highlight
@require '~prismjs/themes/prism.css'
// Markdown code type
@require '~@vuepress/theme-default/styles/code' 
// Markdown tag
@require '~@vuepress/theme-default/styles/toc'
// Markdown block
@require '~@vuepress/theme-default/styles/custom-blocks'

/* customed */
// Common
@require './common'
// Markdown
@require './markdown'

