// Main font
$fontFamily = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
$fontSize = 16px

// Main color
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef

// Content width
$contentWidth = 1000px
$MQNarrow = 959px
$MQMobileNarrow = 419px

// header 

$headerHeight = 64px