.home {
  column-count 3
  column-gap 3em
  position: relative
  margin-top 20px
  transition: height 1s;
  .item {
    margin-bottom 1em
    -moz-page-break-inside avoid
    -webkit-column-break-inside avoid
    break-inside avoid
    border-radius 8px
    overflow hidden
    position relative
    cursor pointer
    // box-shadow 0px 0px 10px rgba(0,0,0,0.4)
    img {
      width 100%
      height auto
      z-index 1
      position relative
      display block
      border-radius 8px
    }
    ul {
      margin 0
      padding 0
    }
    .tag {
      padding-left: 12px
      padding-right: 10px
    }
    .tag:after {
      content: " ";
      width: 4px;
      height: 4px;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 0 0 1px rgba(0,0,0,.3);
      position: absolute;
      top: 10px;
      left: -1px;
    }
    li {
      display inline-block
      padding: 5px 8px
      position: relative
      margin: 5px 15px
      font-size: 12px
      line-height: 14px
      color: #fefefe
      // transform rotate(-90deg)
      background: green
      border-radius: 0 5px 5px 0
      span {
        display inline-block
      }
      i {
        position: absolute;
        top: -0px
        left: -30px
        right: 100%;
        font-size: 0;
        line-height: 0;
        border: 12px solid transparent;
        border-right-color: green;
      }
    }
  }
  .item .ribbonHead h4, .item .ribbonHead .ribbonBack {
    transition: all 1s;
  }

  .item .ribbonHead .ribbonBack {
    transition-delay 0.2s;
    transform: translate3d(-8px, -59px, 0)
    opacity 1
  }

  .item:hover .ribbonHead h4 {
    // transform: translate3d(-8px, 0, 0);
    opacity 1
  }

  // .item:hover .ribbonHead .ribbonBack {
  //   transform: translate3d(-8px, -59px, 0)
  //   opacity 1
  // }
  .item-iamge {
    transition: all 1s;
  }
  .item:hover .item-iamge {
    transform: scale(1.8)
  }

  // 头部 title
  .ribbonHead, .ribbonTag {
    position absolute
  }
  .ribbonHead > h4 {
    transform: translate3d(-8px, 0, 0);
    opacity 0.5
    max-width: 180px;
    background #ebecf0
    padding 0.8em
    border-radius 0 25px 25px 0
    // transform: translate3d(-40px, 0, 0)
    z-index: 2
    color: #5a5858
    overflow hidden
    
    text-overflow ellipsis
    white-space nowrap
    position relative
  }
  // .ribbonHead > .ribbonBack {
  //   width 8px
  //   height 38px
  //   transform: translate3d(8px, -59px, 0)
  //   z-index 0
  //   background #C93E3E
  //   position relative
  //   opacity 0
  // }
  // .ribbonHead > .ribbonBack:before {
  //   top -8px
  //   border-width 8px
  //   border-top-color: transparent;
  //   border-right-color: transparent;
  //   border-bottom-color: transparent;
  //   border-left-color: #C93E3E;
  // }
  // .ribbonHead > .ribbonBack:after {
  //   bottom: -16px
  //   border-right-color: transparent;
  //   border-bottom-color: transparent;
  //   border-left-color: transparent;
  //   border-top-color: #C93E3E;
  //   border-right-width 0px
  //   border-bottom-width 8px
  //   border-left-width 8px
  //   border-top-width 8px
  // }
  .ribbonHead > .ribbonBack:before, .ribbonHead > .ribbonBack:after {
    content ""
    display block
    width 0
    height 0
    position absolute
    border-style solid
    z-index 1
  }
}

.clearfix:after {
  content ''
  height 0
  line-height 0
  clear both
  overflow hidden 
}

.home:before {
  content: "";
  display: block;
  border: 2px solid #ffffff;
  border-bottom: 12px solid #ffffff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  position: absolute;
  left: -20px;
  top: -20px;
  right: -20px;
  bottom: -100px;
  border-radius:20px 20px 20px 600px;  
  transition: all 1s;
}

@media screen and (max-width: 966px) {
  .home {
    column-count 2
  }
}

@media screen and (max-width: 500px) {
  .home {
    column-count 1
  }
}
